@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    background-color: white;
}

h1{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
header{

    background-color: #f8f8f1;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 20px solid #600000;
    border-bottom: 10px solid #600000;
}

p{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: "Roboto", sans-serif; 
    font-size: 25px;

}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    background-color: #f8f8f1;
    padding-top: 20px;
    border-top: 10px solid #600000;
    margin-top: 100px;
}